<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>User Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__STATIC__/libs/layui/css/layui.css">
    <script src="__STATIC__/libs/layui/layui.js"></script>
    <script src="__STATIC__/libs/jquery/jquery.min.js"></script>
</head>

<body>
    <style type="text/css">
    .layui-form-label {
        width: 60px;
        padding-left: 0;
    }
    .layui-form-item .layui-input-inline {
        margin: 0 10px 0px 0px !important;
        float: left;
    }
    .layui-input-block {
        margin-left: 70px;
    }
    </style>
    <form class="layui-form" action="{:url('changeemail')}" method="post" style="padding: 20px;">
        <div class="layui-form-item">
            <!--<label class="layui-form-label">New Email</label>-->
            <div class="layui-input-inline">
                <input type="text" name="email" required="" lay-verify="required|email" id="email" autocomplete="off" value="" class="layui-input" placeholder="New Email"></div>
        </div>
        <div class="layui-form-item">
            <!--<label class="layui-form-label">Verify Code</label>-->
            <div class="layui-input-inline" style="width: 120px!important;">
                <input type="text" name="captcha" required="" lay-verify="required" placeholder="Verify Code" autocomplete="off" value="" class="layui-input">
            </div>
            <button class="layui-btn btn-captcha layui-btn-primary layui-border-green" type="button" data-event="changeemail" data-type="email" data-url="{:url('api/ems/send')}">Send Code</button>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit data-type="layui-form" data-pop="true" data-refresh="true">Submit Now</button>
            </div>
        </div>
    </form>
    {include file="layui" /}
    <script type="text/javascript">
    layui.use('yznForm', function() {
        var yznForm = layui.yznForm;
        yznForm.bindevent($("form.layui-form"));
    });
    </script>
</body>

</html>