{include file="header" /}
<div class="layui-card pd-20 no-shadow">
    <div class="layui-card-header fly-title">
        <h2>Basic Setting</h2>
    </div>
    <div class="layui-card-body">
        <div class="layui-tab" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this" lay-id="info">My Info</li>
                <li lay-id="avatar">Company Logo</li>
                <li lay-id="pass">Password</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-form layui-tab-item layui-show">
                    <form class="layui-form" method="post" style="width:450px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">UserName</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" required="" lay-verify="required" autocomplete="off" value="{$userinfo.username}" class="layui-input layui-disabled" disabled>
                            </div>
                        </div>
<!--                        <div class="layui-form-item">
                            <label class="layui-form-label">昵称</label>
                            <div class="layui-input-block">
                                <input type="text" name="nickname" required="" lay-verify="required" autocomplete="off" value="{$userinfo.nickname}" class="layui-input">
                            </div>
                        </div>-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">CellPhone</label>
                            <div class="layui-input-inline">
                                <input type="text" name="mobile" required="" lay-verify="phone" autocomplete="off" value="{$userinfo.mobile}" class="layui-input layui-disabled" disabled>
                            </div>
<!--                            <div class="layui-form-mid" style="padding: 0!important;">
                                {eq name="userinfo.ischeck_mobile" value="1"}
                                <button class="layui-btn" type="button" data-open="{:url('changemobile')}" data-width="440" data-height="250" title="修改手机">修改</button>
                                {else/}
                                <button class="layui-btn layui-btn-danger" type="button" data-open="{:url('actmobile')}" data-width="440" data-height="250" title="激活手机">激活</button>
                                {/eq}
                            </div>-->
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">Email</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" required="" lay-verify="email" autocomplete="off" value="{$userinfo.email}" class="layui-input layui-disabled" disabled>
                            </div>
                            <div class="layui-form-mid" style="padding: 0!important;">
                                {eq name="userinfo.ischeck_email" value="1"}
                                <button class="layui-btn" type="button" data-open="{:url('changeemail')}" data-width="440" data-height="250" title="Edit Email">Edit</button>
                                {else/}
                                <button class="layui-btn layui-btn-danger" type="button" data-open="{:url('actemail')}" data-width="440" data-height="250" title="激活邮箱">激活</button>
                                {/eq}
                            </div>
                        </div>
<!--                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" name="gender" value="0" title="保密" {if $userinfo.gender==0}checked{/if}>
                                <input type="radio" name="gender" value="1" title="男" {if $userinfo.gender==1}checked{/if}>
                                <input type="radio" name="gender" value="2" title="女" {if $userinfo.gender==2}checked{/if}>
                            </div>
                        </div>-->
<!--                        <div class="layui-form-item">
                            <label class="layui-form-label">生日</label>
                            <div class="layui-input-block">
                                <input type="text" name="birthday" class="layui-input" id="ID-laydate" placeholder="生日" value="{$userinfo.birthday}">
                            </div>
                        </div>-->
<!--                        <div class="layui-form-item">
                            <label class="layui-form-label">个性签名</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入个性签名" name="motto" class="layui-textarea">{$userinfo.motto}</textarea>
                            </div>
                        </div>-->
                        {:hook("user_config")}
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="{:url('member/index/profile')}" data-refresh="false">Submit Now</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-form layui-tab-item">
                    <div class="layui-form-item">
                        <div class="avatar-add">
                            <p>Recommended size 168*168，jpg、png、gif，Max 500KB</p> <button type="button" class="layui-btn upload-img"> <i class="layui-icon"></i>Upload Company Logo </button><input class="layui-upload-file" type="file" accept="undefined" name="file">
                            <img src="{$userinfo.avatar}" class="avatar-img"> <span class="loading"></span>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <form class="layui-form" method="post" style="width:450px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">Old Password</label>
                            <div class="layui-input-block">
                                <input type="password" name="oldpassword" required="" lay-verify="required" autocomplete="off" class="layui-input" lay-affix="eye">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">New Password</label>
                            <div class="layui-input-block">
                                <input type="password" name="newpassword" required="" lay-verify="required" autocomplete="off" class="layui-input" lay-affix="eye">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">Password Again</label>
                            <div class="layui-input-block">
                                <input type="password" name="renewpassword" required="" lay-verify="required" autocomplete="off" class="layui-input" lay-affix="eye">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="{:url('member/index/changepwd')}" data-refresh="false">Submit Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="layui" /}
<script type="text/javascript">
//上传图片
layui.use(['yznForm','upload','laydate'], function(upload) {
    var yznForm = layui.yznForm,
    upload = layui.upload;
    var laydate = layui.laydate;

    var avatarAdd = $('.avatar-add');

    yznForm.bindevent($("form.layui-form"));

    laydate.render({
        elem: '#ID-laydate'
    });

    upload.render({
        elem: '.upload-img',
        url: GV.image_upload_url,
        size: 500,
        before: function() {
            avatarAdd.find('.loading').show();
        },
        done: function(res) {
            if (res.code == 1) {
                $.post(GV.profile_upload_url, {
                    avatar: res.path
                }, function(data) {
                    layer.msg('上传成功！', { icon: 1});
                    $('.avatar-img').attr('src', res.path);
                    location.reload();
                });
            } else {
                layer.msg(res.info, { icon: 5 });
            }
            avatarAdd.find('.loading').hide();
        },
        error: function() {
            avatarAdd.find('.loading').hide();
        }
    });
});
</script>
{include file="footer" /}