{include file="header" /}

<main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="/static/asf/pic/6.jpg">
        <div class="container pt--0 pb--0">
            <div class="row">
                <div class="col-12">
                    <div class="page-header-content">
                        <h2 class="title">About</h2>
                        <!--== nav class="breadcrumb-area">
                            <ul class="breadcrumb justify-content-center">
                                <li><a href="index.html">Home</a></li>
                                <li class="breadcrumb-sep">//</li>
                                <li>Employers</li>
                            </ul>
                        </nav ==-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Employers Details Area Wrapper ==-->
    <section class="employers-details-area" style="background: url('/static/asf/pic/4.jpg') no-repeat center center / cover;">
        <div class="container" style="height:630px;">
            <!-- div class="row">
                <div class="col-12">
                    <div class="employers-details-wrap">
                        <div class="employers-details-info">
                            <div class="thumb"> <img src="/skin/freight/static/picture/11.webp" width="130" height="130" alt="Image-HasTech"> </div>
                            <div class="content">
                                <h4 class="title">Mukianso IT Sulution Ltd.</h4>
                                <ul class="info-list">
                                    <li><i class="icofont-location-pin"></i> New York, USA</li>
                                    <li><i class="icofont-phone"></i> +88 456 796 457</li>
                                </ul>
                                <button type="button" class="btn-theme">Follow Us</button>
                                <button type="button" class="btn-theme btn-white">Add Review</button>
                            </div>
                        </div>
                        <div class="employers-counter">
                            <div class="counter-item">
                                <h4 class="counter">86</h4>
                                <h5 class="title">Total jobs</h5>
                            </div>
                            <div class="counter-item">
                                <h4 class="counter">27</h4>
                                <h5 class="title">Review</h5>
                            </div>
                            <div class="counter-item">
                                <h4 class="counter">452</h4>
                                <h5 class="title">Views</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div -->
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="job-details-item">
                        <div class="container content" style="margin-top: -30px;">

                            <style>
                                .desc{font-size:18px;margin-bottom:0px!important;}
                            </style>
                            <h3 class="title" style="color: #FFF;">About Airsea Family Network</h3>
                            <p class="desc" style="color: #FFF;">Airsea Famly is Worldwide Logistics Network, working on an agent to agent partnership with mutual benefits for exchanging of business. We have 7868 member in 166 countries. If join us, you can enjoy partner detail information include email/whatsapp/responsible man/coompany main service and make a tie cooperation with your partner.</p>
                            <br>
                            <h3 class="title" style="color: #FFF;">Who We Are?</h3>

                            <p class="desc" style="color: #FFF;">
                                All the Things you Need to know About Us.</p>
                            <p class="desc" style="color: #FFF;">We are a professional team having experience of 5 years in Logistics Networking Worldwide, We understand the day-to-day of the Logistics business. We know the need and difficulties to find new reliable agents from Worldwide and where Airsea Family Network can help you to find new business opportunities, This platform can become a tool for you to be more productive and make your job smooth.</p>
                            <br>
                            <h3 class="title" style="color: #FFF;">Why Airsea Family?</h3>

                            <p class="desc" style="color: #FFF;">Membership includes the following Benefits</p>
                            <p class="desc" style="color: #FFF;">Agent to Agent Networking Worldwide</p>
                            <p class="desc" style="color: #FFF;">Payment Protection within Network</p>
                            <p class="desc" style="color: #FFF;">Promotion through Social Media and email marketing</p>
                            <p class="desc" style="color: #FFF;">Management Experience: over 8 years of experience in Logistics Networking</p>
                            <p class="desc" style="color: #FFF;">Dedicate 24/7/365 Customer Support team</p>
                            <p class="desc" style="color: #FFF;">Worldwide Members Annual Meeting</p>
                            <p class="desc" style="color: #FFF;">Quarterly Survey of every member to check</p>
                            <p class="desc" style="color: #FFF;">Business Generated by Network</p>
                            <p class="desc" style="color: #FFF;">Cost effective Membership Package.</p>
                            <!--== ul class="employers-details-list">
                                <li><i class="icofont-check"></i> Developing custom themes (WordPress.org & ThemeForest Standards)</li>
                                <li><i class="icofont-check"></i> Creating reactive website designs</li>
                                <li><i class="icofont-check"></i> Working under strict deadlines</li>
                                <li><i class="icofont-check"></i> Develop page speed optimized themes</li>
                            </ul ==-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--== End Employers Details Area Wrapper ==-->
</main>

{include file="footer" /}



<!--=== jQuery Modernizr Min Js ===-->
<script src="/static/asf/js/modernizr.js"></script>
<!--=== jQuery Min Js ===-->
<script src="/static/asf/js/jquery-main.js"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="/static/asf/js/jquery-migrate.js"></script>
<!--=== jQuery Popper Min Js ===-->
<script src="/static/asf/js/popper.min.js"></script>
<!--=== jQuery Bootstrap Min Js ===-->
<script src="/static/asf/js/bootstrap.min.js"></script>
<!--=== jQuery Swiper Min Js ===-->
<script src="/static/asf/js/swiper.min.js"></script>
<!--=== jQuery Fancybox Min Js ===-->
<script src="/static/asf/js/fancybox.min.js"></script>
<!--=== jQuery Aos Min Js ===-->
<script src="/static/asf/js/aos.min.js"></script>
<!--=== jQuery Counterup Min Js ===-->
<script src="/static/asf/js/counterup.js"></script>
<!--=== jQuery Waypoint Js ===-->
<script src="/static/asf/js/waypoint.js"></script>

<!--=== jQuery Custom Js ===-->
<script src="/static/asf/js/custom.js?1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
    // 初始化 Swiper 实例
    var swiper = new Swiper('.swiper-container', {
        direction: 'horizontal', // 横向滚动
        loop: true, // 循环滚动
        autoplay: {
            delay: 4000, // 每隔2秒自动滚动
        },
        slidesPerView: 'auto', // 根据内容自动确定每个视图的宽度
        slidesPerView: 5, // 每次显示5个文字
        spaceBetween: 10, // 文字之间的间距
        speed: 4000, // 滚动速度，单位毫秒
        autoplay: {
            delay: 0,
            //disableOnInteraction: false,
        },
        //loopAdditionalSlides: 10, // 循环滚动时需要额外增加的滑块数量
    });
</script>

<script>
    $(document).ready(function() {
        $('.selectpicker').selectpicker();
        $('#category-select').select2({
            templateResult: formatResult
        });


        // slider 替换
        var slider = $("#slider");
        var images = [
            "/static/asf/pic/1.jpg",
            "/static/asf/pic/2.jpg",
            "/static/asf/pic/3.jpg"
        ];
        var currentIndex = 0;

        function changeBackground() {
            currentIndex = (currentIndex + 1) % images.length;
            slider.css("background-image", "url(" + images[currentIndex] + ")");
        }

        setInterval(changeBackground, 5000); // 切换间隔，单位为毫秒（这里是每隔 5 秒切换一次）

    });

    function formatResult(option) {
        if (!option.id) {
            return option.text;
        }
        var imageUrl = $(option.element).data('image');
        if (!imageUrl) {
            return option.text;
        }
        var $image = $('<img style="width: 20px; height: auto; margin-right: 5px;" src="' + imageUrl + '">');
        var $text = $('<span>' + option.text + '</span>');
        var $result = $('<span></span>');
        $result.append($image).append($text);
        return $result;
    }
</script>