{extend name="admin@index_layout"/}
{block name="main"}
<form class="layui-form" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">会员id</label>
        <div class="layui-input-block">
            <input type="text" name="row[user_id]" data-source="{:url('member.member/index')}" data-field="nickname" lay-verify="required" autocomplete="off" placeholder="会员id" class="layui-input selectpage">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">变更金额</label>
        <div class="layui-input-block">
            <input type="text" name="row[amount]" lay-verify="required" autocomplete="off" placeholder="变更金额" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input type="text" name="row[memo]" lay-verify="required" autocomplete="off" placeholder="备注" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layer-footer">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit>立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use('yznForm', function() {
    var yznForm = layui.yznForm;
    yznForm.bindevent($("form.layui-form"));
});
</script>
{/block}