{extend name="index_layout"/}
{block name="main"}
<form class="layui-form" method="post">
    {:token()}
    <div class="layui-form-item">
        <label class="layui-form-label">企业名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="企业名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-block">
            <input  name="mobile" lay-verify="required" autocomplete="off" placeholder="电话" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-block">
            <input type="text" name="address" autocomplete="off" placeholder="地址" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">督导人员</label>
        <div class="layui-input-block">
            <input type="text" name="officer_name" autocomplete="off" placeholder="督导人员" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">督导工号</label>
        <div class="layui-input-block">
            <input type="text" name="gonghao" autocomplete="off" placeholder="督导工号" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预警级别</label>
        <div class="layui-input-block">
            <input type="text" name="color_level" autocomplete="off" placeholder="报警级别" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">预警次数</label>
        <div class="layui-input-block">
            <input type="text" name="warning_times" autocomplete="off" placeholder="报警级别" class="layui-input">
        </div>
    </div>



    <div class="layui-form-item layer-footer">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use('yznForm', function() {
    var yznForm = layui.yznForm;
    yznForm.bindevent($("form.layui-form"));
});
</script>
{/block}