{include file="header" /}

<main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="/static/asf/pic/bg2.jpg">
        <div class="container pt--0 pb--0">
            <div class="row">
                <div class="col-12">
                    <div class="page-header-content">
                        <h2 class="title">Contact Us</h2>
                        <!--== nav class="breadcrumb-area">
                            <ul class="breadcrumb justify-content-center">
                                <li><a href="index.html">Home</a></li>
                                <li class="breadcrumb-sep">//</li>
                                <li>Contact</li>
                            </ul>
                        </nav ==-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area Wrapper ==-->









    <!--== Start Contact Area Wrapper ==-->
    <section class="contact-area contact-page-area">
        <div class="container">
            <div class="row contact-page-wrapper">
                <div class="col-lg-12">
                    <div class="contact-info-wrap">
                        <div class="info-item" style="width: 50%;">
                            <div class="icon"> <img src="/static/asf/image/technology.png" alt="About Technology" width="70" height="70"> </div>
                            <div class="info">
                                <h5 class="title">About Technology:</h5>
                                <p> <a href="mailto:support@airseafamily.com">support@airsea-family.com</a> </p>
                            </div>
                        </div>
                        <div class="info-item" style="width: 50%;">
                            <div class="icon"> <img src="/static/asf/image/payment.png" alt="About Payment" width="70" height="70"> </div>
                            <div class="info">
                                <h5 class="title">About Payment:</h5>
                                <p> <a href="mailto:payment@airseafamily.com">payment@airsea-family.com</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="contact-info-wrap">
                        <div class="info-item" style="width: 50%;">
                            <div class="icon"> <img src="/static/asf/image/service.png" alt="Business Service" width="70" height="70"> </div>
                            <div class="info">
                                <h5 class="title">Business Service:</h5>
                                <p> <a href="mailto:service@airseafamily.com">service@airsea-family.com</a> </p>
                            </div>
                        </div>
                        <div class="info-item" style="width: 50%;">
                            <div class="icon"> <img src="/static/asf/image/web.png" alt="Website" width="70" height="70"> </div>
                            <div class="info">
                                <h5 class="title">Website:</h5>
                                <p> <a href="http://www.airseafamily.com">www.airsea-family.com</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--== Start Contact Form ==-->
                    <!--== div class="contact-form">
                        <h4 class="contact-form-title">Get in Touch</h4>
                        <form id="contact-form" action="https://whizthemes.com/mail-php/raju/arden/mail.php" method="POST">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="con_name" placeholder="Name:">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" type="email" name="con_email" placeholder="Email:">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Subject:">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="con_message" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb--0">
                                        <button class="btn-theme d-block w-100" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div ==-->
                    <!--== End Contact Form ==-->

                    <!--== Message Notification ==-->
                    <div class="form-message"></div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Contact Area Wrapper ==-->
</main>

{include file="footer" /}



<!--=== jQuery Modernizr Min Js ===-->
<script src="/static/asf/js/modernizr.js"></script>
<!--=== jQuery Min Js ===-->
<script src="/static/asf/js/jquery-main.js"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="/static/asf/js/jquery-migrate.js"></script>
<!--=== jQuery Popper Min Js ===-->
<script src="/static/asf/js/popper.min.js"></script>
<!--=== jQuery Bootstrap Min Js ===-->
<script src="/static/asf/js/bootstrap.min.js"></script>
<!--=== jQuery Swiper Min Js ===-->
<script src="/static/asf/js/swiper.min.js"></script>
<!--=== jQuery Fancybox Min Js ===-->
<script src="/static/asf/js/fancybox.min.js"></script>
<!--=== jQuery Aos Min Js ===-->
<script src="/static/asf/js/aos.min.js"></script>
<!--=== jQuery Counterup Min Js ===-->
<script src="/static/asf/js/counterup.js"></script>
<!--=== jQuery Waypoint Js ===-->
<script src="/static/asf/js/waypoint.js"></script>

<!--=== jQuery Custom Js ===-->
<script src="/static/asf/js/custom.js?1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
    // 初始化 Swiper 实例
    var swiper = new Swiper('.swiper-container', {
        direction: 'horizontal', // 横向滚动
        loop: true, // 循环滚动
        autoplay: {
            delay: 4000, // 每隔2秒自动滚动
        },
        slidesPerView: 'auto', // 根据内容自动确定每个视图的宽度
        slidesPerView: 5, // 每次显示5个文字
        spaceBetween: 10, // 文字之间的间距
        speed: 4000, // 滚动速度，单位毫秒
        autoplay: {
            delay: 0,
            //disableOnInteraction: false,
        },
        //loopAdditionalSlides: 10, // 循环滚动时需要额外增加的滑块数量
    });
</script>

<script>
    $(document).ready(function() {
        $('.selectpicker').selectpicker();
        $('#category-select').select2({
            templateResult: formatResult
        });


        // slider 替换
        var slider = $("#slider");
        var images = [
            "/static/asf/pic/1.jpg",
            "/static/asf/pic/2.jpg",
            "/static/asf/pic/3.jpg"
        ];
        var currentIndex = 0;

        function changeBackground() {
            currentIndex = (currentIndex + 1) % images.length;
            slider.css("background-image", "url(" + images[currentIndex] + ")");
        }

        setInterval(changeBackground, 5000); // 切换间隔，单位为毫秒（这里是每隔 5 秒切换一次）

    });

    function formatResult(option) {
        if (!option.id) {
            return option.text;
        }
        var imageUrl = $(option.element).data('image');
        if (!imageUrl) {
            return option.text;
        }
        var $image = $('<img style="width: 20px; height: auto; margin-right: 5px;" src="' + imageUrl + '">');
        var $text = $('<span>' + option.text + '</span>');
        var $result = $('<span></span>');
        $result.append($image).append($text);
        return $result;
    }
</script>